# EDA

### Import Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pollution_df = pd.read_csv("/content/pollution_us_2000_2016.csv")

### Explore Data

In [4]:
pollution_df.head(10)

   Unnamed: 0  State Code  ...  CO 1st Max Hour  CO AQI
0           0           4  ...               21     NaN
1           1           4  ...               23    25.0
2           2           4  ...               21     NaN
3           3           4  ...               23    25.0
4           4           4  ...               23     NaN
5           5           4  ...                0    26.0
6           6           4  ...               23     NaN
7           7           4  ...                0    26.0
8           8           4  ...                8     NaN
9           9           4  ...                8    28.0

[10 rows x 29 columns]

In [5]:
pollution_df.shape

(1746661, 29)

In [6]:
pollution_df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [7]:
pollution_df.describe(include = 'all')

          Unnamed: 0    State Code  ...  CO 1st Max Hour         CO AQI
count   1.746661e+06  1.746661e+06  ...     1.746661e+06  873338.000000
unique           NaN           NaN  ...              NaN            NaN
top              NaN           NaN  ...              NaN            NaN
freq             NaN           NaN  ...              NaN            NaN
mean    5.471414e+04  2.230907e+01  ...     7.875026e+00       5.996595
std     3.372908e+04  1.725621e+01  ...     7.978844e+00       5.851836
min     0.000000e+00  1.000000e+00  ...     0.000000e+00       0.000000
25%     2.575300e+04  6.000000e+00  ...     0.000000e+00       2.000000
50%     5.304500e+04  1.700000e+01  ...     6.000000e+00       5.000000
75%     8.033600e+04  4.000000e+01  ...     1.300000e+01       8.000000
max     1.345750e+05  8.000000e+01  ...     2.300000e+01     201.000000

[11 rows x 29 columns]

In [8]:
pollution_df.dtypes

Unnamed: 0             int64
State Code             int64
County Code            int64
Site Num               int64
Address               object
State                 object
County                object
City                  object
Date Local            object
NO2 Units             object
NO2 Mean             float64
NO2 1st Max Value    float64
NO2 1st Max Hour       int64
NO2 AQI                int64
O3 Units              object
O3 Mean              float64
O3 1st Max Value     float64
O3 1st Max Hour        int64
O3 AQI                 int64
SO2 Units             object
SO2 Mean             float64
SO2 1st Max Value    float64
SO2 1st Max Hour       int64
SO2 AQI              float64
CO Units              object
CO Mean              float64
CO 1st Max Value     float64
CO 1st Max Hour        int64
CO AQI               float64
dtype: object

In [9]:
pollution_df.isna().sum()

Unnamed: 0                0
State Code                0
County Code               0
Site Num                  0
Address                   0
State                     0
County                    0
City                      0
Date Local                0
NO2 Units                 0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Units                  0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Units                 0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              872907
CO Units                  0
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               873323
dtype: int64

In [10]:
pollution_df.count()

Unnamed: 0           1746661
State Code           1746661
County Code          1746661
Site Num             1746661
Address              1746661
State                1746661
County               1746661
City                 1746661
Date Local           1746661
NO2 Units            1746661
NO2 Mean             1746661
NO2 1st Max Value    1746661
NO2 1st Max Hour     1746661
NO2 AQI              1746661
O3 Units             1746661
O3 Mean              1746661
O3 1st Max Value     1746661
O3 1st Max Hour      1746661
O3 AQI               1746661
SO2 Units            1746661
SO2 Mean             1746661
SO2 1st Max Value    1746661
SO2 1st Max Hour     1746661
SO2 AQI               873754
CO Units             1746661
CO Mean              1746661
CO 1st Max Value     1746661
CO 1st Max Hour      1746661
CO AQI                873338
dtype: int64

### Clean Data

In [11]:
pollution_df = pollution_df.drop(['Unnamed: 0','State Code','County Code','Site Num','Address','NO2 Units','O3 Units','SO2 Units','CO Units'],axis=1)
pollution_df.head()

     State    County     City  ... CO 1st Max Value  CO 1st Max Hour  CO AQI
0  Arizona  Maricopa  Phoenix  ...              4.2               21     NaN
1  Arizona  Maricopa  Phoenix  ...              2.2               23    25.0
2  Arizona  Maricopa  Phoenix  ...              4.2               21     NaN
3  Arizona  Maricopa  Phoenix  ...              2.2               23    25.0
4  Arizona  Maricopa  Phoenix  ...              1.6               23     NaN

[5 rows x 20 columns]

In [12]:
# For this times series analysis, I am just going to stick with the air quality indicators
pollution = pollution_df[['State', 'County', 'City', 'Date Local', 'NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI']]

In [13]:
# Dropping District of Columbia and Country of Mexico
pollution = pollution[pollution['State'] != 'Country of Mexico']
pollution = pollution[pollution['State'] != 'District of Columbia']

In [14]:
# For the time series analysis, changing Date Local from a string to a date format
pollution['Date Local'] = pd.to_datetime(pollution['Date Local'], format='%Y-%m-%d')

In [15]:
# Since there are a lot of duplicates in the data, I will group the data by state, county, and date
pollution = pollution.groupby(['State', 'City', 'County', 'Date Local']).agg(np.mean).reset_index()

In [16]:
summary_pollution = pollution.groupby(level=0)

In [17]:
summary_pollution.head()

          State        City     County  ... O3 AQI  SO2 AQI  CO AQI
0       Alabama  Birmingham  Jefferson  ...   24.0      1.0     6.0
1       Alabama  Birmingham  Jefferson  ...   12.0      3.0     6.0
2       Alabama  Birmingham  Jefferson  ...   11.0      3.0     3.0
3       Alabama  Birmingham  Jefferson  ...   13.0      1.0     2.0
4       Alabama  Birmingham  Jefferson  ...   13.0      1.0     2.0
...         ...         ...        ...  ...    ...      ...     ...
392347  Wyoming    Riverton    Fremont  ...   46.0      1.0     0.0
392348  Wyoming    Riverton    Fremont  ...   44.0      0.0     0.0
392349  Wyoming    Riverton    Fremont  ...   42.0      3.0     0.0
392350  Wyoming    Riverton    Fremont  ...   43.0      0.0     0.0
392351  Wyoming    Riverton    Fremont  ...   39.0      0.0     0.0

[392352 rows x 8 columns]

In [18]:
pollution.to_csv('pollution.csv')

In [19]:
!cp pollution.csv "drive/My Drive/"