In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import glob
import pandas as pd
os.chdir("/content/drive/MyDrive/csv")

In [ ]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [ ]:
# combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# export to csv
combined_csv.to_csv("/content/drive/MyDrive/csv/final/combined_csv.csv", index=False)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
combined_csv = pd.read_csv('/content/drive/MyDrive/csv/final/combined_csv.csv')
print(combined_csv.shape)
combined_csv.head()

(8104, 14)

   Unnamed: 0                 City  ... Motor vehicle theft  Arson
0           4            Anchorage  ...                1531     93
1           5               Bethel  ...                  28     12
2           6  Bristol Bay Borough  ...                   7      0
3           7              Cordova  ...                   0      0
4           8                Craig  ...                   3      0

[5 rows x 14 columns]

### Feature Engineering
Creating a crime percentage column 
- combines total crime/ population

In [ ]:
# Population cannot be 0
combined_csv.loc[combined_csv['Population']==0.0]

      Unnamed: 0            City  ... Motor vehicle theft  Arson
3920           7  Baltimore City  ...                   0      0
6023          77        Sunriver  ...                   2      0

[2 rows x 14 columns]

In [ ]:
combined_csv = combined_csv[combined_csv.Population != 0]

In [ ]:
# Crime is broken down into violent crime and property crime
# Arson is reported in conjunction with property or violent crime depending on the nature
columns = ['Violent crime', 'Property crime']

In [ ]:
combined_csv[columns] = combined_csv[columns].astype(int)

In [ ]:
def sum_frame_by_column(frame, new_col_name, list_of_cols_to_sum, divideby):
    frame[new_col_name] = ((frame[list_of_cols_to_sum].astype(int).sum(axis=1)/frame[divideby].astype(int))*100).round(2)
    return(frame)

In [ ]:
sum_frame_by_column(combined_csv, 'Crime Percentage', columns, 'Population' )

      Unnamed: 0                 City  ... Arson  Crime Percentage
0              4            Anchorage  ...    93              5.51
1              5               Bethel  ...    12              4.00
2              6  Bristol Bay Borough  ...     0              2.58
3              7              Cordova  ...     0              0.33
4              8                Craig  ...     0              2.06
...          ...                  ...  ...   ...               ...
8099          31             Sheridan  ...     3              2.11
8100          32          Thermopolis  ...     0              1.66
8101          33           Torrington  ...     0              0.91
8102          34            Wheatland  ...     0              2.23
8103          35              Worland  ...     0              0.88

[8102 rows x 15 columns]

In [ ]:
violent_crimes = ['Murder and nonnegligent manslaughter', 'Rape','Robbery', 
                  'Aggravated assault']

In [ ]:
combined_csv['Violent crime']= combined_csv[violent_crimes].sum(axis=1)

In [ ]:
property_crimes = ['Burglary', 'Larceny- theft', 'Motor vehicle theft']

In [ ]:
combined_csv['Property crime']= combined_csv[property_crimes].sum(axis=1)

In [ ]:
min(combined_csv['Crime Percentage']), max(combined_csv['Crime Percentage'])

(0.0, 2562.5)

In [ ]:
# Just wanted to see the type of crime for such a high percentage
combined_csv.loc[combined_csv['Crime Percentage']==2562.5]

     Unnamed: 0      City State  ...  Motor vehicle theft  Arson  Crime Percentage
794          71  Lakeside    CO  ...                    2      0            2562.5

[1 rows x 15 columns]

In [ ]:
def crime_rating(row):
# Separating values into levels of concerns
  if 0 <= row['Crime Percentage'] <= 25:
    val = 'Low'
  elif 26 <= row['Crime Percentage'] <= 50:
    val = 'Medium'
  elif 51 <= row['Crime Percentage'] <= 75:
    val = 'High'
  else:
    val = 'Very High'

  return val

In [ ]:
combined_csv['Crime Rating'] = combined_csv.apply(crime_rating, axis=1)

In [ ]:
combined_csv.to_csv("/content/drive/MyDrive/csv/final/fbi_crime_uscities.csv", index=False)

In [ ]:
fbi_crime_uscities = pd.read_csv('/content/drive/MyDrive/csv/final/fbi_crime_uscities.csv')
fbi_crime_uscities.head()

   Unnamed: 0                 City State  ...  Arson  Crime Percentage  Crime Rating
0           4            Anchorage    AK  ...     93              5.51           Low
1           5               Bethel    AK  ...     12              4.00           Low
2           6  Bristol Bay Borough    AK  ...      0              2.58           Low
3           7              Cordova    AK  ...      0              0.33           Low
4           8                Craig    AK  ...      0              2.06           Low

[5 rows x 16 columns]

In [ ]:
fbi_crime_uscities.loc[fbi_crime_uscities['Crime Percentage']>=100]

      Unnamed: 0        City State  ...  Arson  Crime Percentage  Crime Rating
456          190    Industry    CA  ...      7            622.89     Very High
697          431      Vernon    CA  ...      5            457.14     Very High
734           11  Black Hawk    CO  ...      0            171.09     Very High
794           71    Lakeside    CO  ...      0           2562.50     Very High
4645         431   Teterboro    NJ  ...      0            150.00     Very High

[5 rows x 16 columns]

In [ ]:
len(fbi_crime_uscities.loc[fbi_crime_uscities['Crime Percentage']>=100])

5