In [23]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
import pandas as pd
import psycopg2

In [11]:
load_dotenv()
db = os.getenv('DATABASE_URL')

In [19]:
df3 = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/PT17_cityspire-d-ds/main/notebooks/datasets/datasets_to_merge/updated/final.csv')

In [20]:
df3 = df3.rename({'Crime Rate (per 1000 residents)': 'Crime Rate per 1000'}, axis=1)
df3.columns

Index(['City', 'State', 'TotalPop', 'Men', 'Women', 'Hispanic', 'White',
       'Black', 'Native', 'Asian', 'Pacific', 'Income', 'IncomeErr',
       'IncomePerCap', 'IncomePerCapErr', 'Poverty', 'ChildPoverty',
       'Employed', 'Unemployment', 'PrivateWork', 'PublicWork', 'SelfEmployed',
       'FamilyWork', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Rent', 'Year', 'Population',
       'Violent crime', 'Murder and nonnegligent manslaughter', 'Rape',
       'Robbery', 'Aggravated assault', 'Property crime', 'Burglary',
       'Larceny- theft', 'Motor vehicle theft', 'Arson', 'Crime Rate per 1000',
       'Crime Rating', 'Days with AQI', 'Good Days', 'Moderate Days',
       'Unhealthy for Sensitive Groups Days', 'Unhealthy Days',
       'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10',
       'Air Quality Index', 'Diversity Index', 'Nearest', 'lat', 'lon'],
      dtype='object')

In [24]:
engine = create_engine(db)

In [25]:
df3.to_sql('data', con=db, if_exists='replace')

In [26]:
df3['Good Days']

0      203
1      182
2      240
3      161
4      101
      ...
392    206
393    152
394    209
395    162
396    206
Name: Good Days, Length: 397, dtype: int64

In [49]:
livability = df3[['City', 'State', 'Rent', 'Good Days', 'Crime Rate per 1000',
                  'Violent crime', 'Poverty', 'IncomePerCap', 'Diversity Index']]

In [50]:
livability['Rent'] = livability['Rent'] * -1

<ipython-input-50-74478855304b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  livability['Rent'] = livability['Rent'] * -1

In [33]:
livability['Crime Rate per 1000'] = livability['Crime Rate per 1000'] * -1

<ipython-input-33-697cf28ac8d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  livability['Crime Rate per 1000'] = livability['Crime Rate per 1000'] * -1

In [34]:
livability

            City State  Rent  Good Days  Crime Rate per 1000
0          Akron    OH  -911        203               -42.20
1         Albany    GA  -814        182               -56.57
2         Albany    NY -1205        240               -37.59
3         Albany    OR -1197        161               -27.95
4    Albuquerque    NM -1013        101               -59.89
..           ...   ...   ...        ...                  ...
392    Worcester    MA -1552        206               -26.80
393      Wyoming    MI -1059        152               -19.53
394       Yakima    WA -1108        209               -33.38
395    Yuba City    CA -1206        162               -30.73
396         Yuma    AZ  -991        206               -27.11

[397 rows x 5 columns]

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler = MinMaxScaler()

In [37]:
scaler.fit(livability.drop(['City', 'State'], 1))

MinMaxScaler()

In [38]:
scaler.transform(livability.drop(['City', 'State'], 1))

array([[0.92781104, 0.66666667, 0.66634178],
       [0.96007984, 0.59057971, 0.54962638],
       [0.83000665, 0.80072464, 0.70378493],
       ...,
       [0.86227545, 0.6884058 , 0.73797921],
       [0.82967399, 0.51811594, 0.75950292],
       [0.9011976 , 0.67753623, 0.78890513]])

In [39]:
import pickle

In [45]:
with open('C:\\Users\\Timothy Eakin\\CitySpire\\PT17_cityspire-d-ds\\app\\livability_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [46]:
with open('C:\\Users\\Timothy Eakin\\CitySpire\\PT17_cityspire-d-ds\\app\\livability_scaler.pkl', 'rb') as f:
    s = pickle.load(f)

In [47]:
s.transform(livability.drop(['City', 'State'], 1).iloc[0,:].to_numpy().reshape(1, -1))

array([[0.92781104, 0.66666667, 0.66634178]])

In [ ]:
ds3[]